<button routerLink="" class="btn btn-secondary">Voltar</button>
<button (click)="open(content)" class="btn btn-primary" id="btn-new" [disabled]="isBtnDisabled">Novo cadastro</button>
<button (click)="draw('Circle')" class="btn btn-primary" id="btn-draw" style="display: none;">Desenhar círculo</button>
<button (click)="save()" class="btn btn-primary" id="btn-save" style="display: none;">Salvar</button>

<ng-template #content let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Novo cadastro</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.close('close')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <form [formGroup]="form">
		<div class="form-group">
		  <label for="file">Nome</label>
		  <div class="input-group">
			<input type="text" class="form-control" formControlName="name" name="name" id="name" required>
		  </div>
		</div>
		<div class="form-group">
			<label for="file">Área</label>
			<div class="input-group">
			  <input type="text" class="form-control" formControlName="area" name="area" id="area" required>
			</div>
		  </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="validateForm()">Criar</button>
	</div>
  </ng-template>